body {
    background-color: hsl(30, 54%, 90%);
}

.recipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 24px;
}

img {
    width: 656px;
    height: 300px;
    border-radius: 12px;
}

.recipe-title {
    width: 656px;
    height: 40px;
    font-size: 40px;
    line-height: 100%;
    font-family: "Young Serif";
    font-weight: normal;
}