body {
    background-color: hsl(30, 54%, 90%);
}

.recipe-container {
    display: flex;
    justify-content: center;
}

.recipe-card {
    background-color: #ffffff;
    width: 736px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 24px;
}

img {
    width: 656px;
    height: 300px;
    border-radius: 12px;
}