body {
    background-color: hsl(30, 54%, 90%);
}

.recipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 24px;
}

img {
    width: 656px;
    height: 300px;
    border-radius: 12px;
}

.recipe-card-content {
    width: 656px;
    line-height: 24px;
}

.recipe-title {
    width: 656px;
    height: 40px;
    font-size: 40px;
    line-height: 100%;
    font-family: "Young Serif";
    font-weight: normal;
    color: hsl(24, 5%, 18%);
}

.recipe-description {
    width: 656px;
    height: 48px;
    font-family: "Outfit";
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: hsl(30, 10%, 34%);
}

.recipe-prep-time {
    height: 172px;
    padding: 24px;
    line-height: 16px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 12px;
}

.recipe-preperation-title {
    color: hsl(332, 51%, 32%);
    height: 20px;
    width: 608px;
    font-family: "Outfit";
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
}

.unordered-prep-list {
    height: 88px;
    line-height: 8px;
}

.unordered-prep-item {
    height: 24px;
    padding-left: 8px;
}

strong {
    color: hsl(30, 10%, 34%);
}

.recipe-ingredients {
    height: 204px;
    line-height: 24px;
}

.recipe-ingredient-title {
    font-family: "Young Serif";
    font-weight: normal;
    font-size: 28px;
    color: hsl(14, 45%, 36%);
}